header {
    width: 100%;
    text-align: right;
    background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
    border-bottom: purple 3px solid;
    height: 100px;
    order: 1;
    
}
header > h1 {
    padding-top: 15px;
    color: purple;
}
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-between;
    font-family: monospace;
    font-size: 100%;
}


body > nav {
    background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
    width: 15%;
    order: 2;
    margin-top: 10px;
    border-bottom: purple 3px solid;
    border-top: purple 3px solid;
    text-align: left;
    line-height: 2;
    height: 100%;
    margin-left: 5px;
}

body > nav:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, purple, pink, yellow, pink);
}
body > nav > ul > li > a:hover{
    cursor: pointer;
    color: white;
    background-color: purple;
    font-weight: bold;
    padding: 1%;
}
body > section {
    width: 50%;
    order: 4;
    margin-top: 15px;
    text-align: left;
    color: black;
    padding-right: 15px;
}
body > aside {
    width: 20%;
    order: 3;
    margin-top: 15px;
    color: purple;
}
footer {
    width: 100%;
    background-image: linear-gradient(to bottom right, purple, pink, yellow, pink);
    order: 5;
    margin-top: 10px;
    border-top: purple 3px solid;
    color: purple;
    text-align: center;
    font-size: 80%;
}